.header {
    background-color: var(--background-lightest-color);
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

.header__content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header__logo-image {
    max-width: 162px;
}