.products-slides {
    background-color: var(--background-light-color);
}

.products-slides-container {
    display: block;
    max-width: 1200px;
    margin: auto;
}

.products-slides__card {
    height: 500px;
    width: 250px;
    background-color: var(--background-lightest-color);
    border-radius: 20px;
    border-top: 3px solid var(--text-title-color);
}

.products-slides__image {
    width: 100px;
}







.products-slides__carousel {
    display: grid;
    grid-template-columns: 30px 8fr 30px;
}

@media (min-width: 640px) {
    .products-slides__carousel-slide-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    .products-slides__carousel-slide-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .products-slides__carousel-slide-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}