.products-slides {
    background-image: linear-gradient(var(--background-light-color), var(--background-lightest-color));
}

/* .about-elsapo__content {
    max-width: 1200px;
}

.about-elsapo__title {
    color: var(--section-name-color);
    font-family: "Raleway", sans-serif;
    font-size: 38px;
}

.about-elsapo__hr {
    background-color: var(--button-color);
    border: 0;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70px;
}

.about-elsapo__description {
    color: var(--text-secondary-color);
    font-size: 16px;
    line-height: 2em;
}

.about-elsapo__img-part {
    display: flex;
    align-items: center;
}

.about-elsapo__carousel {
    display: grid;
    grid-template-columns: 1fr 22fr 1fr;
}

.about-elsapo__carousel-prev {
    background-color: transparent;
    border: none;
}

.about-elsapo__carousel-next {
    background-color: transparent;
    border: none;
}

.about-elsapo__carousel-prev:hover {
    background-image: linear-gradient(#e7dac181, rgba(255, 255, 255, 0.479));
    border-radius: 10px;
}

.about-elsapo__carousel-next:hover {
    background-image: linear-gradient(#e7dac181, rgba(255, 255, 255, 0.479));
    border-radius: 10px;
}

@media (min-width: 680px) {
    .about-elsapo__title {
        font-size: 50px;
    }
    .about-elsapo__content {
        display: grid;
        grid-template-columns: 45% auto;
        gap: 40px;
    }
}

@media (min-width: 1010px) {
    .about-elsapo__content {
        margin: auto;
    }
    .about-elsapo__description {
        line-height: 2.5em;
    }
} */